<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">

        <div class="offset-md-2">
            <ul class="navbar-nav">
                
                <li class="nav-item nav - link">
                    @Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-brand" })
                </li>
                <li class="nav-item nav - link">
                    @Html.ActionLink("Show all websites", "AllSites", "Home", new { @class = "navbar-brand" })
                </li>
            </ul>
        </div>
    </nav>
    <br />

    <div class="container body-content">
        @RenderBody()
        
        <footer class="text-center fixed-bottom text-white bg-dark">
            <p>&copy; @DateTime.Now.Year - Korolko</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
